body {
    background-image: linear-gradient(to bottom,#FFEBCD ,#FFE4C4);
}

.alignement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Lucida Console", monospace;
    font-size: 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15%;
}

.button {
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.resum {
font-family: cursive;
    font-size: 25px;
    margin-top: 10%;
}