body {
    background-image: linear-gradient(to bottom, #87CEFA,#87CEEB);
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Lucida Console", monospace;
    font-size: 25px;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 5%;
}