body {
    background-image: linear-gradient(to bottom, #98FB98,#90EE90);
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Lucida Console", monospace;
    font-size: 30px;
}

main {
    margin-top: 10%;
}

table {
    width: 100%;
}

th, td {
    text-align: center;
    font-family: cursive;
}

tr:hover {
    background-color: coral;
}

.button {
    padding: 6px 18px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}