<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<h1 class="title" th:if="${article.id == null}">Créer un nouvel article</h1>
<h1 class="title" th:if="${article.id != null}">Modifier l'article</h1>

<form th:object="${article}" th:action="${article.id == null ? '/add-article' : '/' + article.id + '/modifier'}"
      method="post">

    <div class="detail"><label>Title: </label>
    <input type="text" size="20" style="height:25px" th:field="*{title}"/>
    <br>
    <label>Author: </label>
    <input type="text" size="20" style="height:25px" th:field="*{author}"/>
    <br>
    </div>

    <div class="contenu"><label>Contenu: </label>
    <textarea class="textarea" th:field="*{contenu}"></textarea>
    <br>
    </div>

    <div class="buttons">
    <a th:href="@{/{id}/valider(id=${article.id})}">
        <button class="button">Valider</button>
    </a>

<a href="/">
    <button class="button">Retour Acceuil</button>
</a>
</div>
</form>
</body>
</html>