<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href"@{/css/main.css}">
</head>
<body>
<h1 th:if="${article.id == null}">Créer un nouvel article</h1>
<h1 th:if="${article.id != null}">Modifier l'article</h1>

<form th:object="${article}" th:action="${article.id == null ? '/add-article' : '/' + article.id + '/modifier'}" method="post">

<label>Title: </label>
<input type="text" th:field="*{title}"/>
<br>
<label>Author: </label>
<input type="text" th:field="*{author}"/>
<br>
<label>Contenu: </label>
<input type="text" th:field="*{contenu}"/>
<br>
    <a th:href="@{/{id}/valider(id=${article.id])}}"><button>Valider</button></a>
</form>
<a href="/"><button>Retour Acceuil</button></a>


</body>
</html>