<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mon Blog</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header>
<div>
    <label>Recherche par auteur: </label>
    <form method="get" th:action="@{/rechercher}">
    <input type="text" name="author">
    <button class="button" type="submit">Rechercher</button>
    <a href="/"><button class="button" type="button">Réinitialiser</button>

    </a>
    <br>
    <br>
    </form>
</div>

<div>
    <a href="/form">
        <button class="button">Créer un nouvel article</button>
    </a>
    <br>
    <br>
</div>
</header>

<main>
        <table>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Détails du produit</th>
                <th>Modifier</th>
                <th>Delete</th>
            </tr>

     <tr th:each="article : ${listArticles}">
    <td><span th:text="${article.id}"></span></td>
    <td><span th:text="${article.title}"></span></td>
    <td><span th:text="${article.author}"></span></td>
    <td><a th:href="@{/detail/{id}(id=${article.id})}">Details du produit</a></td>
    <td><a th:href="@{/{id}/modifier(id=${article.id})}"><button class="button">Modifier</button></a></td>
    <td><a th:href="@{/{id}/supprimer(id=${article.id})}"><button class="button">Delete</button></a></td>
     </tr>
        </table>

</main>
</body>
</html>